<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>Coaches</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
                   
               {% endfor %}
           </tbody>
       </table>


       <form class="grid" action="/trainedFighters" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose a Coach to see who they have trained</label>
        <select name="coaches1" id="coaches">
            <option value="Freddie Roach">Freddie Roach</option>
            <option value="Floyd Mayweather Sr">Floyd Mayweather Sr</option>
            <option value="Chepo Reynoso">Chepo Reynoso</option>
            <option value="Cuz Dmato">Cuz Dmato"</option>
            <option value="Teddy Atlas">Teddy Atlas</option>
  
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>

    {%if fighter %}
        <h3>{{name}} has trained {{fighter}}</h3>
    {%endif%} 

    

</body>
</html>