<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>fighter</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
               {% endfor %}
           </tbody>
       </table>

       <form class="grid" action="/fighterRec" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose fighter to get Record</label>
       <select name="fighter3" id="fighter">
        {% for row in data %}
            <option value= '{{row[0]}}' >{{row[0]}}</option>
        {% endfor %}
    </select>
    <input type="Submit" class = "file_submit" value="check">
</div>
</form>
{% if Rec %}
<table>
    <thead>
      <tr>
          <th>fighter</th>
          <th>coach</th>
          <th>wins</th>
          <th>lost</th>
          <th>tie</th>
          <th>salary</th>
          <th>Championships</th>
      </tr>
      </thead>    
      <tbody>
       {% for row in Rec %}    
              
           <td>{{row[0]}}</td>
           <td>{{row[1]}}</td>
           <td>{{row[2]}}</td>
           <td>{{row[3]}}</td>
           <td>{{row[8]}}</td>
           <td>{{row[4]}}</td>
           <td>{{row[5]}}</td>
                  
          {% endfor %}
      </tbody>
  </table>
  
{% endif %}


       <form class="grid" action="/bestFighter" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose two fighters to get better score</label>
        <select name="fighter1" id="fighter">
        {% for row in data %}
            <option value= '{{row[0]}}' >{{row[0]}}</option>
        {% endfor %}
        </select>
        <label>vs</label>
        <select name="fighter2" id="fighter">
        {% for row in data %}
            <option value= '{{row[0]}}' >{{row[0]}}</option>
        {% endfor %}
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>
    {% if fighter %}
    <label>The better fighter is {{fighter}}</label>
    {% endif %}



    
    <form class="grid" action="/fighterCity" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose a Fighter to see where they are form</label>
        <select name="fighter1" id="fighter">
            {% for row in data %}
            <option value='{{row[0]}}'>{{row[0]}}</option>
            {% endfor %}
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>

    {%if city %}
        <label>{{name}} is from {{city}}</label>
    {%endif%} 



    <br/>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>