<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}
    <form class="grid" action="/result" method = "post">
        {% if name %}
        <h3 style="color:red;">Hello {{name}}, How are you?</h3>
        {% endif %}
        <label for = "Name">Enter your name:</label>
        <input type="text" name="name">
        <input type="Submit" class= "file_submit">
    </form>

</body>
</html>