<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}
    <form class="grid" action="/addFighter" method="post">
        <div class = "d-inline">
        <label for = "query1">Add fighter with min or max stats</label>
        <input type="text" name="name">
        <select name="option" id="option">
            <option value='min'>min stats</option>
            <option value='max'>max stats</option>
        </select>
        <input type="Submit" class = "file_submit" value="add">
    </div>
    </form>

    <form class="grid" action="/addSponsor" method="post">
        <div class = "d-inline">
        <label for = "query1">Add sponsor to fighter</label>
        <select name="sponsor" id="option">
            {% for row in data %}
            <option value='{{row[0]}}'>{{row[0]}}</option>
            {% endfor %}
        </select>
        <select name="fighter" id="option">
            {% for row in data1 %}
            <option value='{{row[0]}}'>{{row[0]}}</option>
            {% endfor %}
        </select>
        <input type="Submit" class = "file_submit" value="add">
    </div>
    </form>

</body>
</html>