<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>Referees</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
                   
               {% endfor %}
           </tbody>
       </table>
    <form class="grid" action="/cityRef" method="post">
        <div class = "d-inline">
            <label for = "query1">Choose a state to see which refs work there</label>
            <select name="state1" id="stadium">
                {% for row in data1 %}
                <option value='{{row[0]}}'>{{row[0]}}</option>
                {% endfor %}
            </select>
            <input type="Submit" class = "file_submit" value="check">
        </div>
    </form>
    {% if answer%}
    <label>{{answer[0]}},{{answer[1]}},{{answer[2]}}</label>
    {% endif %}

    <form class="grid" action="/mostRef" method="post">
        <div class = "d-inline">
            <label for = "query1">Choose a stadium to see which refs can work there </label>
            <select name="stadium" id="stadium">
                {% for row in data2 %}
                <option value='{{row[0]}}'>{{row[0]}}</option>
                {% endfor %}
            </select>
            <input type="Submit" class = "file_submit" value="check">
        </div>
    </form>
    {% for row in info%}
    <label>{{row[0]}}</label>
    {% endfor %}


</body>
</html>