<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>Sponsors</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
                   
               {% endfor %}
           </tbody>
       </table>

    <form class="grid" action="/sponsorQ" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose a sponsor,to see their fighters and country </label>
        <select name="sponsor1" id="sponsor">
            <option value="Burger King">Burger King</option>
            <option value="Under Armor">Under Armor</option>
            <option value="Adidas">Adidas</option>
            <option value="Budlight">Budlight</option>
            <option value="Nike">Nike</option>
            <option value="Corona">Corona</option>
            <option value="Modelo">Modelo</option>
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>

    {% if sponsor %}
        <h3>{{sponsor}} sponsors {{fighter}} and is from {{country}}}</h3>
    {% endif %}



</body>
</html>