<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>Sponsors</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
                   
               {% endfor %}
           </tbody>
       </table>

    <form class="grid" action="/sponsorQ" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose a sponsor,to see their fighters and country </label>
        <select name="sponsor1" id="sponsor">
            <option value="burgerKing">Burger King</option>
            <option value="underArmor">Under Armor</option>
            <option value="adidas">Adidas</option>
            <option value="budlight">Budlight</option>
            <option value="nike">Nike</option>
            <option value="corona">Corona</option>
            <option value="modelo">Modelo</option>
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>

    {% if list %}
        
    {% for row in list %}    
                   
    <td>{{row[0],row[1]}}</td>
           
       
   {% endfor %}
    {% endif %}

   
    <form class="grid" action="/MoneySponsor" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose a fighters to see money made from sponsor</label>
        <select name="fighter1" id="fighter">
            <option value="Canelo">Canelo</option>
            <option value="Gennedy Golovken">Gennedy Golovken</option>
            <option value="Floyd Mayweatther">Floyd Mayweatther</option>
            <option value="Deontay Wilder">Deontay Wilder</option>
            <option value="Manny Pacquiao">Manny Pacquiao</option>
            <option value="Mike Tyson">Mike Tyson</option>
            <option value="Andy Ruiz jr">Andy Ruiz jr</option>
            <option value="Tyson Fury">Tyson Fury</option>
            <option value="Anthony Joshua">Anthony Joshua</option>
            <option value="Boxer">Boxer</option>
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>

    {%if fighter %}
        <h3>{{name}} made from Sponsors {{fighter}} per hour</h3>
    {%endif%} 



</body>
</html>