<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    
    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>Stadiums</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
                   
               {% endfor %}
           </tbody>
       </table>

	</nav>
    <form class="grid" action="/bestFighter" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose two fighters to get better score</label>
        <select name="stadium1" id="fighter">
            <option value="Canelo">Canelo</option>
            <option value="Gennedy Golovken">Gennedy Golovken</option>
            <option value="Floyd Mayweatther">Floyd Mayweatther</option>
            <option value="Deontay Wilder">Deontay Wilder</option>
            <option value="Manny Pacquiao">Manny Pacquiao</option>
            <option value="Mike Tyson">Mike Tyson</option>
            <option value="Andy Ruiz jr">Andy Ruiz jr</option>
            <option value="Tyson Fury">Tyson Fury</option>
            <option value="Anthony Joshua">Anthony Joshua</option>
            <option value="Boxer">Boxer</option>
        </select>
        <h3>vs</h3>
        <select name="fighter2" id="fighter">
            <option value="Canelo">Canelo</option>
            <option value="Gennedy Golovken">Gennedy Golovken</option>
            <option value="Floyd Mayweatther">Floyd Mayweatther</option>
            <option value="Deontay Wilder">Deontay Wilder</option>
            <option value="Manny Pacquiao">Manny Pacquiao</option>
            <option value="Mike Tyson">Mike Tyson</option>
            <option value="Andy Ruiz jr">Andy Ruiz jr</option>
            <option value="Tyson Fury">Tyson Fury</option>
            <option value="Anthony Joshua">Anthony Joshua</option>
            <option value="Boxer">Boxer</option>
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>

</body>
</html>