<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>
        Boxing
    </title>

</head>
<body>
    {% include 'navbar.html' %}

    
    <style>
        td {
               width: 150px;
               text-align: center;
               border: 1px solid black;
               padding: 5px;
             }
       </style>
       <table>
         <thead>
           <tr>
               <th>Stadiums</th>
           </tr>
           </thead>    
           <tbody>
            {% for row in data %}    
                   
                <td>{{row[0]}}</td>
                       
                   
               {% endfor %}
           </tbody>
       </table>

	</nav>
    <form class="grid" action="/largestStadium" method="post">
        <div class = "d-inline">
        <label for = "query1">Choose a state to see its biggest stadium stats</label>
        <select name="state1" id="stadium">
            <option value="New York">New York</option>
            <option value="California">California</option>
            <option value="England">Englande</option>
            <option value="Mexico City">Mexico City</option>
            <option value="Michigan">Michigan</option>
            <option value="Nevada">Nevada</option>
            <option value="New Jersey">New Jersey</option>
        </select>
        <input type="Submit" class = "file_submit" value="check">
    </div>
    </form>
    {% for row in answer%}
        <label>{{row[0]}},{{row[1]}},{{row[2]}}</label>
    {% endfor %}

    <form class="grid" action="/maxPeople" method="post">
        <div class = "d-inline">
        <label for = "query1">Enter an amount of people to see which stadiums have that capacity</label>
        <input type="text" name="name">
        <input type="Submit" class= "file_submit">
    </div>
    </form>

    {% for row in info%}
        <label>{{row[0],row[1]}}</label>
    {% endfor %}


</body>
</html>